.body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 900;
    background-color: rgb(255, 246, 206);
}

h2{
    background-color: rgb(248, 242, 219);
}

body {
    background-color: lightgray;
}

.page {
    width: 1200px;
    background-color: white;
    margin: 1%;
    padding: 20px;
    padding-top: 20px;
}

.vis-container {
    align-content: center;
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.footer {
    margin-bottom: 0px;
}

.pure-g {
    margin-bottom: 25px;
}

.small-font {
    font-size: 14px;
}
