.body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: lightgray;
}

.page {
    width: 1250px;
    background-color: white;
<<<<<<< HEAD
    margin: 1%;
    padding: 20px;
    padding-top: 20px;
=======
    margin: 20px;
    padding: 50px;
    padding-top: 35px;
>>>>>>> 87d3ff7e013d62526bedc0ef073e513ac60f97c0
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 25px;
}

.small-font {
    font-size: 14px;
}
